
<link rel="stylesheet" href="~/Assets/css/exhibition.css?v={random string}" />
<script src="\Assets\js\exhibition.js"></script>
<div id="imageCloseUp-container" onclick="hideImageCloseUp()"></div>
<div id="veil" class="veilHidden" onclick="hideImageCloseUp()"></div>
<div>
    <h1>Exhibition Title</h1>
</div>

<h2 class="diagonal-h2">Artist name</h2>
<div class="diagonal-box">

    <div class="wrapper">
        <img class="romb" src="https://source.unsplash.com/random/600x600?water" alt="" onclick="viewImageCloseUp(this)">
        <img class="romb" src="https://source.unsplash.com/random/600x600?summer" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?plants" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?snow" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?roses" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?sky" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?nature" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?blossom" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?ice" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?spring" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?water" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?summer" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?plants" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?snow" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?roses" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?sky" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?nature" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?blossom" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?ice" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?spring" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?spring" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?spring" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?spring" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?spring" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?spring" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?spring" alt="">
        <img class="romb" src="https://source.unsplash.com/random/600x600?spring" alt="">
    </div>
</div>
