.live-title {
    height: 6vh;
    margin-top: -1vh;
}

#live-btn-img {
    align-self: center;
    height: 3vh;
    margin-left: 1vh;
    visibility: hidden;
}

.diagonal-h2 {
    margin-top: 7vw;
}

.diagonal-box {
    align-items: center;
    display: flex;
    flex-direction: row;
}

#description-box {
    transform: skewY(11deg);
    margin-top: -12vw;
    margin-left: 5vw;
    height: 35vw;
    width: 50vw;
    padding: 1vw;
}

#description-box h2 {
    line-height: 8vw;
    font-size: 5vw;
    color: #DFDDE4;
}

#description-box p {
    color: #DFDDE4;
    line-height: 3.7vw;
}

#poster {
    width: 35vw;
    transform: skewY(11deg);
    margin: 10vw;
    border-radius: 8px;
    box-shadow: 0 0 3vw 2vw #0c0c0c;
}

#live-date {
    font-size: 4vw;
    color: #242424;
    text-align:center;
    margin-top: 15vw;
}

#activeOrNot {
    display: none;
}

#date-btn {
    margin: 8vw auto auto auto;
    background-color: rgb(255,255,255, 0.7);
    padding: 3vw;
    text-align: center;
    border-radius: 4vw;
    width: 40vw;
    display: block;
    cursor: pointer;
    border-color: rgb(255,255,255, 0.7);
}

#link-to-live{
    visibility: hidden;
}

