h3 {
    
}

.back {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
}
.back:hover{
    text-decoration: underline;
}

.back img{
    height: 3vw;
    margin: 1vw;
    float: left;
    margin-top: 0vw;
}



.diagonal-box {
    margin: 3vw 0 15vw 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 9vw 0 15vw 0; 
    
}

#bend-back {
    transform: skewY(11deg); 
    justify-content:center;
}
#create-form {
    padding-left: 4vw;
}

#create-form input {
    font-size: 4vw;
    font-family: Comfortaa;
}

.input-item {
    padding: 2vw;
    text-align: center;
    margin-top: 2vw;
    flex: 1;
}

    .input-item input, .input-item textarea  {
        width: 70vw;
        height: 6vw;
        background-color: #fdffb6;
        border-color: #a7a894;
        border-top: none;
        border-left: none;
        border-right: none;
        font-family: 'Comfortaa';
        font-size: 4vw;
        text-align: center;
        outline: none;
    }

    .input-item textarea {
        height: 15vw;
        text-align: left;
    }




.diagonal-h2 {
    transform: skewY(-12deg);
    margin-top: 3vh;
    margin-bottom: 1vh;
}

#submit-btn {
    width: 35vw;
    height: 8vw;
    border-radius: 2vw;
    box-shadow: 0 0 2vw 1vw rgba(12, 12, 12, 0.84);
    cursor: pointer;
    outline: none;
    border: none;
    font-family: 'Comfortaa';
    font-size: 3vw;
    background-color: #EFEFEF;
}

#date-time{
    margin-top: 5vw;
}


