
h3 {
    color: #242424;
    text-align: center;
    margin-top: 5vw;
    font-size: 4vw;
}

p {
    line-height: 4vw;
}

#create-form {
    padding-left: 4vw;
}

.input-item {
    padding: 2vw;
    text-align: center;
    margin-top: 2vw;
    font-size: 5vw;
}

.input-item input[type="file"] {
    font-family: 'Comfortaa';
    cursor: pointer;
    justify-content: center;
}

button{
    width: 100px;
    background-color: pink;
}

.input-item button {
    cursor: pointer;
}

    .input-item input, .input-item textarea {
        width: 80vw;
        height: 8vw;
        background-color: #fdffb6;
        border-color: #a7a894;
        border-top: none;
        border-left: none;
        border-right: none;
        font-family: 'Comfortaa';
        font-size: 5vw;
        text-align: center;
    }

    .input-item textarea {
        height: 15vw;
        text-align: left;
    }

    .input-item input, .input-item textarea {
        outline: none;
    }

#submit-btn {
    width: 70vw;
    height: 12vw;
    color: #242424;
    border: none;
    border-radius: 2vw;
    box-shadow: 0 0 2vw 1vw rgba(12, 12, 12, 0.84); /*<-------------------svart färg*/
    cursor: pointer;
    font-family: 'Comfortaa';
    font-size: 4.5vw;
    background-color: #EFEFEF;
}

#dropdownlist {
    margin-top: 2vw;
    width: 80vw;
    background-color: #fdffb6;
    font-family: 'Comfortaa';
    font-size: 5vw;
    text-align: center;
    text-align-last: center;
    border-color: #a7a894;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}

#poster-upload {
    align-self: center;
}
