h3 {
    color: #DFDDE4;
}

.diagonal-box {
    margin: 3vw 0 15vW 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vw;  
}

#bend-back {
    transform: skewY(11deg);   
}
#create-form {
    padding-left: 4vw;
}

#create-form input {
    font-size: 4vw;
    font-family: Comfortaa;
}

.input-item {
    padding: 2vw;
}

.diagonal-h2 {
    transform: skewY(-12deg);
    margin-top: 3vh;
    margin-bottom: 1vh;
}

#submit-btn {
    border-radius: 2vw;
    font-size: 70%;
    border: 0.5vw solid #F89A1E;
    background-color: #242424;
    padding: 1%;
    box-shadow: 0px 4px 10px 0px black;
    color: #F89A1E;
    cursor: pointer;
    width: 40vw;
    font-family: 'Comfortaa';
}