
h3 {
    color: #DFDDE4;
}

.diagonal-box {
    margin: 3vw 0 15vw 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 9vw 0 15vw 0;
}

#bend-back {
    transform: skewY(11deg);
}

#create-form {
    padding-left: 4vw;
}

    #create-form input {
        font-size: 4vw;
        font-family: Comfortaa;
    }

.input-item {
    padding: 2vw;
}

.diagonal-h2 {
    transform: skewY(-12deg);
    margin-top: 3vh;
    margin-bottom: 1vh;
}

#submit-btn {
    width: 35vw;
    height: 8vw;
    border-radius: 2vw;
    box-shadow: 0 0 2vw 1vw rgba(12, 12, 12, 0.84);
    cursor: pointer;
    outline: none;
    border: none;
    font-family: 'Comfortaa';
    font-size: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.uploaded-image {
    overflow: hidden;
    object-fit: cover;
    max-width: 70%;
    max-height: 70%;
}

#image-selector {
    display: flex;
    flex-direction: initial;
    width: 95%;
    border: 1px solid #242424;
    border-radius: 10px;
    background-color: none;
    color: white;
    height: 28%;
    position: absolute;
    overflow-x: auto;
    overflow-y: hidden;
}

.image-container {
    width: 40vw;
    height: 40vw;
}

#testar {
    display: flex;
}

#date-time {
    margin-top: 40vw;
}
