
h3 {
    color: #242424;
    text-align: center;
    margin-top: 5vw;
}

p{
    line-height: 4vw;
}

#create-form {
    padding-left: 4vw;
}

    #create-form input {
        font-size: 4vw;
    }

.input-item {
    padding: 2vw;
    text-align: center;
    margin-top: 2vw;
}

    .input-item input, .input-item textarea {
        width: 80vw;
        height: 8vw;
        background-color: #fdffb6;
        border-color: #a7a894;
        border-top: none;
        border-left: none;
        border-right: none;
        font-family: 'Comfortaa';
        font-size: 4vw;
        text-align: center;
    }

        .input-item textarea{
            height: 15vw;
            text-align: left;
        }

        .input-item input, .input-item textarea {
            outline: none;
        }

        #instructions{
    margin: 2vw;
}

#submit-btn {
    width: 35vw;
    height: 8vw;
    border-radius: 2vw;
    box-shadow: 0 0 2vw 1vw rgba(12, 12, 12, 0.84);
    cursor: pointer;
    outline: none;
    border: none;
    font-family: 'Comfortaa';
    font-size: 3vw;
    background-color: #EFEFEF;
}

.uploaded-image {
    overflow: hidden;
    object-fit: cover;
    max-width: 70%;
    max-height: 70%;
}

#image-selector {
    display: flex;
    flex-direction: initial;
    width: 100%;
    background-color: #242424;
    color: white;
    height: 18%;
    position: absolute;
    overflow-x: auto;
    overflow-y: hidden;
}

.image-container {
    width: 40vw;
    height: 40vw;
}

#testar {
    display: flex;
}

#date-time {
    margin-top: 40vw;
}
