/* || ARTIST NAMES || */

.diagonal-h2{
    margin: 3vw;
}
    .diagonal-h2:hover{
        text-decoration: underline;
        cursor: pointer;
    }
/* END OF ARTIST NAMES */

/* || DIAGONAL BOX ||*/
.diagonal-box {
    /*background-color: #242424;
    transform: skewY(-11deg);*/
    /*box-shadow: 0 0.3vw 3vw 2vw #362D26;*/
    padding: 4vw;
    padding-top: 8vw;
    padding-bottom: 22vw;
    margin-bottom: 15vw;
}
/* END OF DIAGONAL BOX */

/* || IMAGE GALLERY || */
.wrapper {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1200px;
    max-height: 1200px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
    transform: skewY(11deg);
    filter: drop-shadow(5px 5px 7px #0c0c0c)
}

.romb {
    z-index: 1;
    grid-column: span 2;
    margin-bottom: -52%;
    transform: scale(1);
    transition: all 0.25s;
    width: 30vw;
    height: 30vw;
    overflow: hidden;
    object-fit: cover;
    max-width: 100%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.romb:nth-child(5n+1) {
    grid-column: 2/span 2;
}

.romb:hover {
    z-index: 2;
    transform: scale(1.25)
}

#description-box p{
    margin-top: 5vw;
    text-align: center;
}

/* END OF IMAGE GALLERY */
 