.form-group {
    margin-top: 8vw;
    text-align: center;
}

h4 {
    margin-top: 2vw;
    text-align: center;
    font-size: 4vw;
}

label {
    font-family: 'Comfortaa';
    font-size: 3vw;
}

input {
    width: 80vw;
    height: 8vw;
    background-color: #fdffb6;
    border-color: #a7a894;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Comfortaa';
    font-size: 5vw;
    text-align: center;
    align-self: center;
}

    input:focus {
        outline: none;
    }

#email-input {
    margin-top: 3vw;
}



.btn-primary {
    width: 70vw;
    height: 12vw;
    color: var(--contrast-color);
    border: none;
    border-radius: 2vw;
    box-shadow: 0 0 2vw 1vw rgba(12, 12, 12, 0.84); /*<-------------------svart färg*/
    cursor: pointer;
    font-family: 'Comfortaa';
    font-size: 3vw;
    background-color: #82A174;
    margin-top: 8vw;
}

#form, .col-md-4, .row {
    justify-content: center;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


   
