/*PROFILE*/
#artist-profile{
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 50%;
    margin: 2vw auto;
}

#artist-profile img{
    height: auto;
    width: 100%;
}

.description{
    text-align: center;
    margin: auto 5vw;
}

/*BUTTONS*/
.create-buttons {
    display: flex;
    margin-top: 10vw;
    margin-bottom: 13vw;
    justify-content: space-around;
}
.studio-btn {
    width: 35vw;
    height: 8vw;
    border-radius: 2vw;
    box-shadow: 0 0 2vw 1vw rgba(12, 12, 12, 0.84);
    cursor: pointer;
    outline: none;
    border: none;
    font-family: 'Comfortaa';
    font-size: 3vw;
    display:flex;
    flex-direction:row;
}

.studio-btn p{
    margin: auto;
}

.plus{
    font-size: 6vw;
}

/*LAYOUT*/
.straight-div {
    transform: skewY(11deg);
    padding: 15vw 0 13vw 0;
}

.studio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.studio-content img {
    width: 40vw;
}

.folder{
    width: 47%;
}
.folder-img{
    opacity: 0.3;
}

.studio-content-btn {
    width: 40vw;
    height: 40vw;
    padding: 0;
    overflow: hidden;
    position: relative;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 2vw 1vw rgba(12, 12, 12, 0.84);
    outline: none;
}

.folder, .open-art-item, #private-folder{
    height: 40vw;
    margin: 3vw;
}

.folder-items {
    /*display: none;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #DFDDE4;
    padding: 2vw 0 2vw 0;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 3vw;
}

.folder-items .open-art-item{
    flex-direction:row;
}

.exhibition-name {
    position: absolute;
    z-index: 1;
    top: 40%;
    width: 40vw;
}

.lock{
    position: absolute;
    z-index: 1;
    top:0;
    right: 0;
    max-width: 5vw;
    margin: 2vw;
}

.divider {
    position: relative;
    height: 1px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(87, 87, 89), transparent);
}
#open-items{
    padding: 0;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid #DFDDE4;
    margin-left: 20vw;
}

/*IMAGE CLOSE UP*/
.shownImage {
    width: 80vw;
    z-index: 2000;
    display: block;
    margin: auto;
    box-shadow: 0 0 3vw 2vw #0c0c0c;
    border: 1px solid #0c0c0c;
}

.veilHidden {
    opacity: 0.0;
    background-color: #DFDDE4;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.veilShowing {
    opacity: 0.90;
    background-color: #DFDDE4;
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#imageCloseUp-container {
    opacity: 1;
    z-index: 111111;
    position: absolute;
    width: 100%;
}

.hideInfo {
    display: none;
}

.showInfo {
    display: initial;
}

.artTitle {
    margin-top: 6vw;
}

.artDescription {
    text-align: center;
    margin-top: 4vw;
    margin-left: 8vw;
    margin-right: 8vw;
    background-color: rgba(228, 223, 221, 0.7);
    padding: 15px;
    border-radius: 15px;
}

/*CLOSE BUTTON*/

.close {
    max-width: 6vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 6vw;
}