/*PROFILE*/
#artist-profile{
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 50%;
    margin: 2vw auto;
}

#artist-profile img{
    height: auto;
    width: 100%;
}

.description{
    text-align: center;
    margin: auto 5vw;
}

/*BUTTONS*/
.create-buttons {
    display: flex;
    margin-top: 10vw;
    margin-bottom: 13vw;
    justify-content: space-around;
}
.studio-btn {
    width: 35vw;
    height: 8vw;
    border-radius: 2vw;
    box-shadow: 0 0 2vw 1vw rgba(12, 12, 12, 0.84);
    cursor: pointer;
    outline: none;
    border: none;
    font-family: 'Comfortaa';
    font-size: 3vw;
    display:flex;
    flex-direction:row;
}

.studio-btn p{
    margin: auto;
}

.plus{
    font-size: 6vw;
}

/*LAYOUT*/
.straight-div {
    transform: skewY(11deg);
    padding: 15vw 0 13vw 0;
}

.studio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 3vw;
}

.studio-content img {
    width: 40vw;
}


.folder-img{
    opacity: 0.3;
}

.studio-content-btn {
    width: 40vw;
    height: 40vw;
    padding: 0;
    overflow: hidden;
    position: relative;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 2vw 1vw rgba(12, 12, 12, 0.84);
    outline: none;
}

.folder, .open-art-item, #private-folder{
    height: 40vw;
    margin: 3vw;
}

.folder-items {
    display: none;
    justify-content: flex-start;
    background-color: #DFDDE4;
    padding: 1.3vw;
    border-radius: 15px;
    margin-bottom: 3vw;
}

.folder-items .open-art-item{
    flex-direction:row;
}

.exhibition-name {
    position: absolute;
    z-index: 1;
    top: 40%;
    width: 40vw;
}

.lock{
    position: absolute;
    z-index: 1;
    top:0;
    right: 0;
    max-width: 5vw;
    margin: 2vw;
}

.divider {
    position: relative;
    height: 1px;
    margin: 3vw 0;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(87, 87, 89), transparent);
}
#open-items{
    padding: 0;
}

.arrow-up {
    display: none;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid #DFDDE4;
    margin-left: 20vw;
}

.box-open {
    display: flex;
    flex-wrap: wrap;
}
.arrow-visible{
    display: block;
}
.folder-container {
    position: absolute;
    margin: -9vw auto 0 1.2vw;
    z-index: 2;
    left: 0;
    filter: drop-shadow(0vw 0vw 3vw black);
    width: 97%;
}