@using Microsoft.AspNetCore.Identity
@using ARTiculate.Areas.Identity.Data
@inject SignInManager<ARTiculateUser> SignInManager
@inject UserManager<ARTiculateUser> userManager
@model StudioOverviewViewModel

<link rel="stylesheet" href="~/Assets/css/vernissages.css?v={random string}" />

<h2 class="diagonal-h2">Selection of artists</h2>
<div class="diagonal-box">
    <div class="next-4-content">
        <div class="left4">
            @if(SignInManager.IsSignedIn(User))
            { 
            <button onclick="location.href = '@Url.Action("MyStudio","Studios")'">TO MY STUDIO</button>
            }
            @for (int i = 0; i < 5; i++)
            {

                <button class="next-4" onclick="location.href='@Url.Action("Studio","Studios", new { Model.Artists[i].Id })'">
                    <img src="Assets/Images/PlaceholderIMG.jpg" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                    <div class="next4-container" onmouseover="artworkHoverIn(this)" onmouseout="artworkHoverOut(this)">
                        <h3>@Model.Artists[i]</h3>

                    </div>
                </button>

            }
        </div>
    </div>
</div>
