@model ARTiculate.Models.ImageModel

@{
    ViewData["Title"] = "UploadArtitem";
}
<link rel="stylesheet" href="~/Assets/css/CreateVernissage.css?v={random string}" />
<div class="create-title">
    <h1>Create vernissage</h1>
</div>

<h2 class="diagonal-h2">Fill in</h2>
<div class="diagonal-box">
    <div id="bend-back">
        <form asp-action="UploadArtitem" enctype="multipart/form-data">
            <div id="create-form">
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" accept="image/*" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="input-item" id="submit">
                    <input type="submit" id="submit-btn" name="input-submit" value="Create vernissage" />
                </div>

            </div>
        </form>
    </div>
</div>