
    <h1>Vernissages</h1>
    <button class="live-btn" visibility="hidden">
        <div class="live-container">
            <img class="live-picture" src="Assets/Images/PlaceholderIMG.jpg">
            <img class="live-btn-img" src="Assets/Images/Livebutton.png">
            <h2>Live Vernissage title</h2>
            <h3>Live Vernissage Artist/s</h3>
        </div>
    </button>
    <h2>Next 4 Vernissages</h2>
    <button class="next-4">
        <img src="Assets/Images/PlaceholderIMG.jpg">
        <div class="next4-container">
            <h3>Vernissage Titel</h3>
            <p>28th January 11PM</p>
            <p>Artist Name</p>
        </div>
    </button>
    <button class="next-4">
        <img src="Assets/Images/PlaceholderIMG.jpg">
        <div class="next4-container">
            <h3>Vernissage Titel</h3>
            <p>28th January 11PM</p>
            <p>Artist Name</p>
        </div>
    </button>
    <button class="next-4">
        <img src="Assets/Images/PlaceholderIMG.jpg">
        <div class="next4-container">
            <h3>Vernissage Titel</h3>
            <p>28th January 11PM</p>
            <p>Artist Name</p>
        </div>
    </button>
    <button class="next-4">
        <img src="Assets/Images/PlaceholderIMG.jpg">
        <div class="next4-container">
            <h3>Vernissage Titel</h3>
            <p>28th January 11PM</p>
            <p>Artist Name</p>
        </div>
    </button>

    <h2>Upcoming Vernissages</h2>

    <button class="upcoming">
        <div class="upcoming-date">
            <p>28</p>
            <p>Jan</p>
        </div>
        <div class="upcoming-vernissage">
            <p>Vernissage name</p>
            <p>Vernissage Artist/s</p>
        </div>
    </button>
    <button class="upcoming">
        <div class="upcoming-date">
            <p>28</p>
            <p>Jan</p>
        </div>
        <div class="upcoming-vernissage">
            <p>Vernissage name</p>
            <p>Vernissage Artist/s</p>
        </div>
    </button>
    <button class="upcoming">
        <div class="upcoming-date">
            <p>28</p>
            <p>Jan</p>
        </div>
        <div class="upcoming-vernissage">
            <p>Vernissage name</p>
            <p>Vernissage Artist/s</p>
        </div>
    </button>
