<link rel="stylesheet" href="~/Assets/css/vernissage.css?v={random string}" />
<h1>Vernissage Title</h1>
<img class="live-btn-img" src="Assets/Images/Livebutton.png">
<div class="streamcontainer">
    <iframe class="videostream" src="https://www.youtube.com/embed/RUPduRtDXbI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<h2 class="diagonal-h2">Live Chat</h2>
<div class="diagonal-box">
    <div id="testar" class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
    <div class="message-container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>


</div>
<script src="~/Assets/js/signalr/dist/browser/signalr.js"></script>
<script src="~/Assets/js/chat.js"></script>

